body{
    margin: 0;
}
.bg-container{
    background-image: url('./images/bg.jpg');
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: 'Tilt Prism';
    letter-spacing: 0.2rem;
    font-weight: bold;
}
.heading{
    color: #ffc600;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
}
.content-container{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
}

.color-palette-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.color-palette-container label{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}
.color-palette{
    width: 6rem;
    height: 4rem;
    border: 0;
    background-color: transparent;
    padding: 0;
}

.color-palette::-webkit-color-swatch {
    border: 1px salmon dotted;
}

.select-mode{
    font-size: 2rem;
    color:#fff;
    font-weight: bold;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.btn{
    border-radius: 0.3rem;
    color: #000;
    border: 0;
    font-size: 1rem;
    padding: 0.8rem 2rem;box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 80%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-family: 'Tilt Prism';
    font-weight: 800;
    letter-spacing: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn:hover{
    transform: scale(1.1);
    border: 1px solid grey;
    box-shadow: #ffc600 0px 5px 15px;
}
.active{
    background-color: #ffc600;
}

.size{
    color:salmon;
    font-size: 1.5rem;
    margin: 0;
}
input[type = range]{
    width: 15vw;
    -webkit-appearance: none;
    border: 2px solid #333;
    border-radius: 0.5rem;
    cursor: pointer;   
}

input[type ="range"]::-webkit-slider-runnable-track{
    background-color: #ffc600;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #333;
    height: 1.5rem;
    width: 1.5rem;  
    border-radius: 1rem;
    margin: -0.4rem;  
}
#clear{
    background-color: rgba(255, 0, 0, 0.553);
    color: white;
    font-weight: bolder;
}
.container{
    width: 37.5rem;
    height: 38rem;
}
.drawing-area{
    display: flex;
}
.square{
    background-color: #fff;
    transition: 0.1s ease;
}
.active-square{
    background-color: #333;
}